__pycache__/
*.py[cod]
*.so
*.log
*.db
*.sqlite
*.sqlite3

.env
.env.*
.venv/
venv/
.poetry-cache/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
.eggs/

.idea/
.vscode/
.DS_Store
.cursor/
